:root {
    --cor-primaria: #f0f0f5;
    --cor-secundaria: #322153;
    --yellow-background-fundo: #fae9b1;
    --yellow-background-icon: #f2c03a;
    --blue-background-fundo: #092e40;
    --blue-background-icon: #24b0ec;
    --font-primaria: "Roboto", Helvetica, Arial, sans-serif;
}

.dark-mode:root {
    --cor-primaria: #322153;
    --cor-secundaria: #f0f0f5;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    align-items: center;
}

header a {
    text-decoration: none;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 2rem;
    font-weight: 900;
    font-family: var(--font-primaria);
}

body {
    background-color: var(--cor-primaria);
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--cor-secundaria);
    height: 100vh;
    box-sizing: border-box;
    font-family: var(--font-primaria);
}

.container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.config_container {
    display: none;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 3rem;
    margin: 2rem;
}

.input_config {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    width: 100%;
    max-width: 200px;
}

.input_config label {
    font-size: 16px;
    color: var(--cor-secundaria);
}

.input_config input {
    text-align: center;
    border: 2px solid var(--cor-secundaria);
    background-color: transparent;
    color: var(--cor-secundaria);
    width: 90px;
    height: 40px;
    border-radius: 20px;
    margin: 0 15px;
}

.error-message {
    color: red;
    font-size: 14px;
    display: none;
    text-align: center;
    margin-top: 5px;
}

.error-input {
    border: 2px solid red !important;
    outline: none;
}

#clock-time {
    font-size: 10rem;
}

.container section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    .buttons {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 15px;

        button {
            grid-column: span 2;

            &:nth-last-child(2):nth-child(3n + 1) {
                grid-column-end: 4;
            }
        }
    }
}

#btn_pomodoro,
#btn_long_pause,
#btn_short_pause,
#btn_save {
    border: 2px solid var(--cor-secundaria);
    background-color: transparent;
    color: var(--cor-secundaria);
    width: 100px;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
}

#btn_start {
    border: none;
    background-color: var(--cor-secundaria);
    color: var(--cor-primaria);
    width: 100px;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
}

#btn_pause,
#btn_config,
#btn_radio,
#btn_wind {
    border: 2px solid var(--cor-secundaria);
    background-color: transparent;
    color: var(--cor-secundaria);
    width: 100px;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
}

#btn_start:active {
    border: 5px solid #1a025254;
}

#btn:hover,
#btn_pomodoro:hover,
#btn_long_pause:hover,
#btn_short_pause:hover,
#btn_config:hover,
#btn_start:hover,
#btn_save:hover,
#btn_pause:hover,
#btn_radio:hover,
#btn_wind:hover {
    background-color: var(--cor-secundaria);
    color: var(--cor-primaria);
}

#btn_pomodoro:active,
#btn_long_pause:active,
#btn_short_pause:active,
#btn_start:active,
#btn_config:active,
#btn_save:active,
#btn_pause:active,
#btn_radio:active,
#btn_wind:active {
    border: 2px solid var(--cor-primaria);
    background-color: var(--cor-secundaria);
    color: var(--cor-primaria);
}

.display-1 {
    font-size: 2.5rem;
    margin: 0 20px;
}

.fa-solid {
    font-size: 1rem;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 20px 0;
}

@media (max-width: 630px) {
    .input_config {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .error-message {
        margin-top: -15px;
    }
}

@media (max-width: 768px) {
    main {
        display: flex;
        justify-content: center;
        height: 60vh;
    }

    .container {
        display: flex;
        flex-direction: column; /* Mantém os elementos na coluna */
        align-items: center;
    }

    #clock-time {
        font-size: 6rem;
    }

    .logo {
        font-size: 1.5rem;
    }

    .display-1 {
        font-size: 2rem;
    }

    .input_config {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .error-message {
        margin-top: -15px;
    }
}

@media (max-width: 410px) {
    #clock-time {
        font-size: 5rem;
    }

    .display-1 {
        font-size: 1.5rem;
    }
}

.container-menu {
    display: flex;
    align-items: center;
}

.button-style-mode {
    cursor: pointer;
    position: relative;
    background: var(--yellow-background-fundo);
    align-items: center;
    width: 60px;
    height: 30px;
    border-radius: 20px;
    border: 2px solid var(--cor-secundaria);
}

.button-style-mode.active {
    background-color: var(--blue-background-fundo);
}

.material-symbols-outlined {
    position: absolute;
    font-size: 1rem;
    font-weight: 400;
    left: 5px;
    top: 3px;
    background-color: var(--yellow-background-icon);
    border-radius: 50%;
    padding: 2px;
    color: var(--cor-primaria);
    animation: move-left 0.3s forwards;
}

.material-symbols-outlined.active {
    background-color: var(--blue-background-icon);
    animation: move-right 0.3s forwards;
}

.moon {
    display: none;
}

.moon.active {
    display: block;
}

.sun.active {
    display: none;
}

@keyframes move-right {
    from {
        transform: translate(0, 0);
    }
    to {
        transform: translate(25px, 0);
    }
}

@keyframes move-left {
    from {
        transform: translate(25px, 0);
    }
    to {
        transform: translate(0, 0);
    }
}
