:root {
    --cor-primaria: #f0f0f5;
    --cor-secundaria: #322153;
    --fonte-primaria: "Roboto", Helvetica, Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    align-items: center;
}

header a {
    text-decoration: none;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 2rem;
    font-weight: 900;
    font-family: var(--fonte-primaria);
}

body {
    background-color: var(--cor-primaria);
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--cor-secundaria);
    height: 100vh;
    box-sizing: border-box;
    font-family: var(--fonte-primaria);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.config-container {
    display: none;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 3rem;
    margin: 2rem;
}

.input_config input {
    text-align: center;
    border: 2px solid var(--cor-secundaria);
    background-color: transparent;
    color: var(--cor-secundaria);
    width: 90px;
    height: 40px;
    border-radius: 20px;
    margin: 0 15px;
}

#clock-time {
    font-size: 10rem;
}

.btn-acao {
    display: flex;
    gap: 20px;
}

#btn,#btn_salvar {
    border: 2px solid var(--cor-secundaria);
    background-color: transparent;
    color: var(--cor-secundaria);
    width: 100px;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
}

#btn-start {
    border: none;
    background-color: var(--cor-secundaria);
    color: var(--cor-primaria);
    width: 100px;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
}

#btn_config {
    border: 2px solid var(--cor-secundaria);
    background-color: transparent;
    color: var(--cor-secundaria);
    width: 100px;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
}

#btn-start:active {
    border: 5px solid #1a025254;
}

#btn:hover,
#btn_config:hover,
#btn-start:hover,
#btn_salvar:hover {
    background-color: var(--cor-secundaria);
    color: var(--cor-primaria);
}

#btn:active {
    border: 2px solid var(--cor-primaria);
    background-color: var(--cor-secundaria);
    color: var(--cor-primaria);
}

.display-1 {
    font-size: 2.5rem;
    margin: 0 20px;
}

.fa-solid {
    font-size: 1rem;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 20px 0;
}

@media (max-width: 630px){
    .input_config{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
}

@media (max-width: 768px) {
    main {
        display: flex;
        justify-content: center;
        height: 60vh;
    }
    
    .container {
        display: flex;
        flex-direction: column; /* Mantém os elementos na coluna */
        align-items: center;
    }

    #clock-time {
        font-size: 6rem;
    }

    .logo {
        font-size: 1.5rem;
    }

    .display-1 {
        font-size: 2rem;
    }
}

@media (max-width: 410px) {
    #clock-time {
        font-size: 5rem;
    }

    .display-1 {
        font-size: 1.5rem;
    }
}